* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    position: relative;
}

canvas, img {
    top: 0;
    left: 0;
    position: absolute;
}
